/* Variables */
$pure-white: #FFFFFF;
$font-dark: #121212;
$btn-beige: #E4C1AE;

/* Mixins */
@mixin font($size, $weight, $line) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line;
  font-family: "Roboto", sans-serif;
  color: $font-dark;
}

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  background-color: $pure-white;
}

/* Image Styles */
img {
  @include width-height(505px, 330px);
}

/* Main Content Styles */
h1 {
  @include font(2.625rem, 700, 3.15rem);
  margin-bottom: 1.5rem;
}

.desc {
  @include font(1rem, 300, 1.5rem);
  @include width-height(23.75em, 6em);
  margin-bottom: 2rem;
}

.btn {
  @include font(1rem, 700, 1rem);
  @include width-height(8rem, 3rem);
  background-color: $btn-beige;
  border-radius: 3rem;
  border: none;
  color: $pure-white;
  cursor: pointer;
}

/* Modal Styles */
.modal {
  @include width-height(100vw, 100vh);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  @include width-height(920px, 210px);
  background-color: $pure-white;
  opacity: 1;
  margin: 20% auto;
  padding-left: 6rem;
  animation-name: animateOpacity;
  animation-duration: 0.5s;
  .close {
    @include width-height(1.5rem,1.5rem);
    float: right;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    cursor: pointer;
  }
  h2 {
    @include font(2.625rem, 700, 3.15rem);
    margin-bottom: 1.5rem;
    padding-top: 3.5rem;
  }
  p {
    @include font(1rem, 300, 1.5rem);
    margin-bottom: 1.5rem;
  }
}

@keyframes animateOpacity {
  from {opacity: 0}
  to {opacity: 1}
}


/* Layout Styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  padding-top: 6rem;;
}

/* Media Queries */